.oneProductContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.wrapper{
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.productPhoto{
    text-align: center;
    margin-bottom: 33px;
    cursor: pointer;
    background: white;
}
.productPhoto:hover{
    box-shadow: 0 4px 16px rgba(168, 172, 176, 0.2);
}
.name{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 27px;
    margin-bottom: 43px;
}
.brand{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
    font-variant-alternates: normal;
    margin-bottom: 16px;
}
.addToCartButton{
    width:292px;
    height: 52px;
    padding: 16px 32px;
    text-transform: uppercase;
    background: #5ECE7B;
    color:white;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    margin-bottom:40px ;
    cursor: pointer;
}
.CurrentPhoto{
    margin-right: 100px;
    margin-bottom: 72px;
}
.description{
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 159.96%;
}
.price{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 18px;
    margin-bottom: 20px;
}
.priceText{
    margin-top: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}
.name{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    padding: 0;
    margin: 43px 0 8px;
}
.attributes{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
}
.item{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    padding: 13px 22px;
    border: 1px solid #A6A6A6;
    text-align: center;
    margin-right: 12px;
}
.itemColor{
    padding: 20px 30px;
    border:1px solid;
    text-align: center;
    margin-right: 12px;
}
.itemColor:hover{
    cursor: pointer;
    box-shadow: 0 4px 16px rgba(168, 172, 176, 0.2);
}
.item:hover{
    background: #000000;
    color: white;
    cursor: pointer;
}
